---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION } from "../consts";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("blog");

const latestPost = posts.reduce((prev, current) => {
  if (current.data.date.getTime() > prev.data.date.getTime()) {
    return current;
  }
  return prev;
});

const featuredProjects = (await getCollection("projects")).filter(
  (project) => project.data.featured
);
---

<Layout>
  <main>
    <section class="prose my-36 text-center">
      <h1 class="text-3xl font-bold text-black dark:text-white">
        👋 Hello! My name is Brendan.
      </h1>

      <p class="text-balance text-center">
        {SITE_DESCRIPTION}
      </p>

      <div class="flex justify-center gap-2">
        <a href="/projects" class="no-underline">
          <Button variant="primary" size="sm">View projects</Button>
        </a>
        <a href="/blog" class="no-underline">
          <Button variant="secondary" size="sm">Read my blog</Button>
        </a>
      </div>
    </section>

    <section class="my-16">
      <h2 class="mb-4 text-2xl font-bold">More About Me</h2>
      <div class="prose">
        <p>
          I am a Computer Science student at North Carolina State University,
          and I have been doing computer programming as a hobby for over 6 years
          because I love solving complex problems.
        </p>
        <p>
          I've built projects like <a href="https://github.com/BlueDragonMC/"
            >BlueDragon</a
          > (Kubernetes, gRPC, Kotlin, Next.js, MongoDB), <a
            href="https://github.com/FluxCapacitor2/easysearch/">Easysearch</a
          > (Go, SQLite), and a <a href="https://www.bswanson.dev/projects/ctf/"
            >capture-the-flag recruitment challenge</a
          > (Next.js, Docker, SQLite) for my high school&#39;s cybersecurity team.
        </p>
        <p>
          I&#39;m also a volunteer full-stack web developer at <a
            href="https://www.pitchlabs.org/">Pitch Labs</a
          >, a small business education nonprofit. I manage their cloud
          infrastructure and maintain their website and internal dashboard, both
          of which are built with Next.js 14, TailwindCSS, and Strapi.
        </p>
      </div>
    </section>

    <section class="my-16">
      <h2 class="mb-4 text-2xl font-bold">Latest Blog Post</h2>
      <a href={`/blog/${latestPost.id}`}>
        <Card class="flex flex-col gap-4 sm:flex-row">
          <Image
            alt={latestPost.data.title}
            src={latestPost.data.image}
            height={192}
            class="h-48 w-full min-w-48 overflow-hidden rounded-md object-cover sm:max-w-48"
            transition:name={`post ${latestPost.id} image`}
          />
          <div class="prose flex flex-col">
            <h3
              class="mb-0 text-xl"
              transition:name={`post ${latestPost.id} title`}
            >
              {latestPost.data.title}
            </h3>
            <p class="mb-4 mt-0">
              <FormattedDate
                date={latestPost.data.date}
                transition:name={`post ${latestPost.id} date`}
              />
            </p>
            <p
              class="my-0"
              transition:name={`post ${latestPost.id} description`}
            >
              {latestPost.data.description}
            </p>
          </div>
        </Card>
      </a>
      <div class="mt-4 flex justify-end">
        <a href="/blog">
          <Button variant="secondary" size="sm">
            More blog posts <Icon name="mdi:arrow-forward" />
          </Button>
        </a>
      </div>
    </section>

    <section class="my-16">
      <h2 class="mb-4 text-2xl font-bold">
        Featured Project{featuredProjects.length === 1 ? "" : "s"}
      </h2>
      {
        featuredProjects.map((featuredProject) => (
          <a href={`/projects/${featuredProject.id}`} class="mb-4 block">
            <Card class="flex flex-col gap-4 sm:flex-row">
              <Image
                alt={featuredProject.data.name}
                src={featuredProject.data.image}
                height={192}
                class="h-48 w-full min-w-48 overflow-hidden rounded-md object-cover sm:max-w-48"
                transition:name={`project ${featuredProject.id} image`}
              />
              <div class="prose flex flex-col">
                <h3
                  class="mb-0 text-xl"
                  transition:name={`project ${featuredProject.id} name`}
                >
                  {featuredProject.data.name}
                </h3>
                <p
                  class="mb-4 mt-0"
                  transition:name={`project ${featuredProject.id} date`}
                >
                  <FormattedDate date={featuredProject.data.date} />
                  {featuredProject.data.ongoing && <>&mdash;Present</>}
                </p>
                <p
                  class="my-0"
                  transition:name={`project ${featuredProject.id} description`}
                >
                  {featuredProject.data.description}
                </p>
              </div>
            </Card>
          </a>
        ))
      }
      <div class="flex justify-end">
        <a href="/projects">
          <Button variant="secondary" size="sm">
            More projects <Icon name="mdi:arrow-forward" />
          </Button>
        </a>
      </div>
    </section>
  </main>
</Layout>
