---
import { getCollection } from "astro:content";
import TechStack from "../../components/TechStack.astro";
import Layout from "../../layouts/Layout.astro";
import { cn } from "../../utils/cn";

const projects = (await getCollection("projects")).sort((a, b) => {
  const featuredDifference = Number(b.data.featured) - Number(a.data.featured);
  if (featuredDifference !== 0) return featuredDifference;
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<Layout>
  <main>
    <h1 class="my-12 text-center text-4xl font-semibold">Projects</h1>
    <section>
      <ul class="grid gap-8 lg:grid-cols-2">
        {
          projects.map((project) => (
            <li
              class={cn(
                "col-span-2 lg:col-span-1",
                project.data.featured && "lg:col-span-2"
              )}
            >
              <a href={`/projects/${project.slug}/`}>
                <img
                  width={720}
                  height={360}
                  src={project.data.image.src}
                  alt=""
                  class={cn(
                    "rounded-lg object-cover object-top",
                    project.data.featured ? "h-80" : "h-64"
                  )}
                  transition:name={`project ${project.slug} image`}
                />
                <h4
                  class="mt-2 text-2xl font-bold"
                  transition:name={`project ${project.slug} name`}
                >
                  {project.data.name}
                </h4>
                <TechStack
                  project={project}
                  transition:name={`project ${project.slug} tech-stack`}
                />
                <p
                  class="mt-2"
                  transition:name={`project ${project.slug} description`}
                >
                  {project.data.description}
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
