---
import { getCollection } from "astro:content";
import TechStack from "../../components/TechStack.astro";
import Layout from "../../layouts/Layout.astro";
import { cn } from "../../utils/cn";

const projects = (await getCollection("projects")).sort((a, b) => {
  const featuredDifference = Number(b.data.featured) - Number(a.data.featured);
  if (featuredDifference !== 0) return featuredDifference;
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<Layout>
  <main>
    <h1 class="text-4xl text-center font-semibold my-12">Projects</h1>
    <section>
      <ul class="grid lg:grid-cols-2 gap-8">
        {
          projects.map((project) => (
            <li
              class={cn(
                "col-span-2 lg:col-span-1",
                project.data.featured && "lg:col-span-2"
              )}
            >
              <a href={`/projects/${project.slug}/`}>
                <img
                  width={720}
                  height={360}
                  src={project.data.image.src}
                  alt=""
                  class={cn(
                    "object-cover object-top rounded-lg",
                    project.data.featured ? "h-80" : "h-64"
                  )}
                />
                <h4 class="font-bold mt-2 text-2xl">{project.data.name}</h4>
                <TechStack project={project} />
                <p class="mt-2">{project.data.description}</p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
