---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { ViewTransitions } from "astro:transitions";

interface Props extends Partial<CollectionEntry<"blog">["data"]> {
  ogType?: "article" | "website";
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  date,
  updatedDate,
  ogType,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image?.src}
      publishedAt={date}
      updatedAt={updatedDate}
      ogType={ogType}
    />
    <ViewTransitions />
  </head>

  <body>
    <Header />
    <div class="mx-auto min-h-[70vh] max-w-prose px-4">
      <slot />
    </div>
    <Footer />
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "343c6fb2a45f424dac0de8affe3c0ece"}'></script>
  </body>
</html>
